.financial .tag-img {
  position: absolute;
  top: 50%;
  width: 1.2rem;
  left: 1.32rem;
  margin-top: -0.3rem;
}
.financial .t {
  margin-top: .8rem;
}
.financial .t p {
  line-height: 1.6;
  font-size: .24rem;
  color: #000;
}
.financial h3.title {
  margin-top: .8rem;
}
.financial .jinrong-type > li {
  margin-bottom: .5rem;
  margin-top: .5rem;
}
.financial .jinrong-type .img {
  width: 100%;
  height: 3.7rem;
  overflow: hidden;
}
.financial .jinrong-type .img img {
  width: 100%;
}
.financial .list {
  border-left: 1px solid#eee;
  border-right: 1px solid#eee;
}
.financial .list li {
  padding: 0 .3rem;
  height: .8rem;
  line-height: .8rem;
  border-bottom: 1px solid#eee;
}
.financial .list li:nth-child(odd) {
  background-color: #fcfcfc;
}
.financial .hezuopt {
  background-color: #eee;
}
.financial .hezuopt .pic-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: .5rem;
}
.financial .hezuopt li {
  width: 3.32rem;
  height: 1.94rem;
  overflow: hidden;
  margin-bottom: .3rem;
}
.financial .hezuopt li img {
  width: 100%;
}
.financial .chuangxinc p {
  line-height: 1.6;
  font-size: .24rem;
  color: #000;
  margin-bottom: .8rem;
  margin-top: .5rem;
}
.financial .chuangxinc li {
  display: flex;
  height: 3.6rem;
  align-items: center;
  box-shadow: 0 0 10px #eee;
  border-radius: 3px;
  margin-bottom: .3rem;
  padding: 0 .3rem;
}
.financial .chuangxinc li .img {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 100%;
  overflow: hidden;
  margin-right: .5rem;
}
.financial .chuangxinc li .img img {
  width: 100%;
}
.financial .chuangxinc li .r {
  flex: 1;
}
.financial .chuangxinc li .r h4 {
  font-size: .3rem;
  padding-bottom: .3rem;
}
.financial .chuangxinc li .r p {
  margin: 0;
  line-height: 1.4;
  font-size: .24rem;
  color: #000;
}
.financial .tishi-b {
  padding-top: .3rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: .24rem;
  color: #b5b5b5;
  line-height: 1.4;
}
.financial .label-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .4rem;
}
.financial .label-box .l {
  color: #000;
  width: 2.2rem;
  text-align: left;
  height: .7rem;
  line-height: .7rem;
  font-size: .26rem;
  font-weight: 700;
  position: relative;
  padding-left: .2rem;
  text-align: justify;
}
.financial .label-box .l::after {
  content: "";
  display: inline-block;
  width: 100%;
}
.financial .label-box .label-must::before {
  content: "*";
  color: #d3b07a;
  position: absolute;
  left: 0;
  height: 100%;
}
.financial .label-box .r {
  display: flex;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.financial .label-box .r .small-input {
  flex: 1;
  margin-right: .2rem;
}
.financial .label-box .r > div:last-child {
  flex: 3;
}
.financial .label-box .r .my-picker {
  overflow: hidden;
  text-overflow: ellipsis;
}
.financial .label-box .r .my-input input {
  border-color: transparent;
  text-align: right;
}
.financial .info-box {
  margin-left: .3rem;
  margin-right: .3rem;
}
.financial .info-box .title {
  font-size: .3rem;
  font-weight: 700;
  color: #000;
  margin-top: .8rem;
  margin-bottom: .3rem;
}
.financial .info-box .title span {
  font-size: .46rem;
}
.financial .info-box .info {
  padding: .4rem .2rem;
  border: 1px solid #ccc;
  border-top: 3px solid #d3b078;
}
.financial .info-box .info .r p {
  width: 100%;
  text-align: right;
  color: #b9b9b9;
  font-size: .26rem;
}
.financial .info-box .info .r p span {
  color: #d3b078;
  font-weight: 700;
}
.financial .info-box .info .b {
  border-bottom: 1px solid #ccc;
}
.financial .info-box .info li.bili {
  min-height: .4rem;
  margin-bottom: .4rem;
  padding: 0 .15rem;
}
.financial .jieguoye {
  padding-bottom: 0 !important;
}
.financial .jieguoye .label-box {
  border-bottom: 1px solid #eee;
  margin-bottom: .4rem;
}
.financial .jieguoye .label-box .l {
  width: 2rem;
  padding-left: 0;
}
.financial .jieguoye li:last-child .label-box {
  border-bottom: 0 none;
  margin-bottom: 0;
}
.financial .jieguoye p {
  font-weight: 700;
  font-size: .26rem;
}
